annotated-types==0.6.0
asgiref==3.7.2
cffi==1.16.0
cryptography==42.0.2
dj-database-url==2.1.0
Django==5.0.2
django-appconf==1.0.6
django-cors-headers==4.3.1
django-jazzmin==2.6.0
django-ninja==1.1.0
pillow==10.2.0
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
PyJWT==2.8.0
pyotp==2.9.0
python-decouple==3.8
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
whitenoise==6.6.0
