

<script>
    function savePyn(pynId) {
        fetch(`/save/${pynId}/`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest' // Add this header to identify AJAX requests
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.success_message);
            var alertDiv = document.createElement("div");
            alertDiv.classList.add("alert", "alert-success", "alert-dismissible", "fade", "show");
            alertDiv.setAttribute("role", "alert");
            alertDiv.innerHTML = `
                Pyn Saved!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            messageDiv=document.getElementById("messages")
            messageDiv.appendChild(alertDiv);
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle any errors that occur during the request
        });
    }

    function removeSavedPyn(pynId) {
      fetch(`/remove/${pynId}/`, {
          method: 'GET',
          headers: {
              'X-Requested-With': 'XMLHttpRequest' // Add this header to identify AJAX requests
          }
      })
      .then(response => response.json())
      .then(data => {
          // Handle the response from the view
          console.log(data.success_message);
          location.reload();
          // You can perform any additional actions based on the response
      })
      .catch(error => {
          console.error('Error:', error);
          // Handle any errors that occur during the request
      });
  }

    function likePyn(pynId) {
      fetch(`/like/${pynId}/`, {
          method: 'GET',
          headers: {
              'X-Requested-With': 'XMLHttpRequest' // Add this header to identify AJAX requests
          }
      })
      .then(response => response.json())
      .then(data => {
          // Handle the response from the view
          console.log(data.success_message);
          location.reload();
          // You can perform any additional actions based on the response
      })
      .catch(error => {
          console.error('Error:', error);
          // Handle any errors that occur during the request
      });
  }

  function deletePyn(pynId) {
    fetch(`/delete/${pynId}/`, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest' // Add this header to identify AJAX requests
        }
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the view
        console.log(data.success_message);
        location.reload();
        // Create a new div element
        var alertDiv = document.createElement("div");
        alertDiv.classList.add("alert", "alert-success", "alert-dismissible", "fade", "show");
        alertDiv.setAttribute("role", "alert");
        alertDiv.innerHTML = `
            Pyn deleted successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        messageDiv=document.getElementById("messages")
        messageDiv.appendChild(alertDiv);
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle any errors that occur during the request
    });
}
    </script>