
<style>
    body{
      /* background: url({{img}}/v1.jpeg); */
      /* background-repeat: no-repeat; */
      /* background-position: center; */
      /* background-size: cover; */
      background-color: rgb(0, 12, 21);
    }

    .image-container img {
        transition: all 0.3s ease; 
      }
      
    .image-container img:hover {
      transform: scale(1.01);
    }
    
    .main-container{
      align-self: center;
    }

    ::-webkit-scrollbar{
      width: 5px;
      padding: 0;
    }
    
    ::-webkit-scrollbar-track{
      background-color: #ffffff00;
      margin: 0;
    } 
    
    ::-webkit-scrollbar-thumb{
      background-color: #149ddd;
    }    

    .active-nav{
      color:white
    }

    

</style>
